body {
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1em;
}

header, footer {
    padding: 3%;
}
a {
    color: black;
}

a:hover {
    color: red;
}

.main {
    margin: 0 3%;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

h2 {
    font-size: 1.2rem;
    font-weight: bold;
}

h3 {
    font-size: 1rem;
    font-weight: bold;
}

h4 {
    font-size: 0.8rem;
    font-weight: bold;
}

.top-story {
    margin-bottom: 2rem;
}

.featured-story .card p,
.top-story .card p {
    margin-bottom: 2rem;
}

.more-stories .media,
.latest-news .media,
.news-category .media:nth-of-type(2),
.bottom-ad .media {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.more-stories {
    position: sticky;
    top: 0;
}

.more-stories a:hover {
    text-decoration: underline solid red;
    color: black;
}

.featured-story .card {
    margin-bottom: 2rem;
}
.card {
    border: none;
}

.card-body {
    padding: 0.2rem 0;
}

.opinion img{
    width: 68px;
    height: 68px;
}

.opinion .media {
    margin-bottom: 1.5rem;
}

.opinion {
    margin-bottom: 4rem;
}

.latest-news img {
    width: 135px;
    height: 90px;
}

.mag-title {
    border-bottom: 1px solid lightgrey;
    width: 75%;
    float: right;
    margin-bottom: 0.5em;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .mag-title {
        border: none;
        width: 100%;
    }
}

.magazine .col-md-3:first-of-type {
    margin-top: 1em;
}

.magazine .card-img-top {
    width: 100%;
    height: 20vh;
    object-fit: cover;
}

.magazine .col-md-3 span {
    padding: 0.3em;
}
.magazine .col-md-3 span:first-of-type {
    background-color: red;
    color: white;
}

.section-title {
    text-align: center;
}

section {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.top-story, .opinion {
    margin-top: 0;
    /* margin-bottom: 0; */
}