body {
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1em;
}

header, footer {
    padding: 3%;
}
a {
    color: black;
}

a:hover {
    color: red;
}

.main {
    margin: 0 3%;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

h2 {
    font-size: 1.2rem;
    font-weight: bold;
}

h3 {
    font-size: 1rem;
    font-weight: bold;
}

h4 {
    font-size: 0.8rem;
    font-weight: bold;
}

.top-story {
    margin-bottom: 2rem;
}

.featured-story .card p,
.top-story .card p {
    margin-bottom: 2rem;
}

.more-stories .media,
.latest-news .media,
.news-category .media:nth-of-type(2),
.bottom-ad .media {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.more-stories {
    position: sticky;
    top: 0;
}

.more-stories a:hover {
    text-decoration: underline solid red;
    color: black;
}

.featured-story .card {
    margin-bottom: 2rem;
}
.card {
    border: none;
}

.card-body {
    padding: 0.2rem 0;
}

.opinion img{
    width: 68px;
    height: 68px;
}

.opinion .media {
    margin-bottom: 1.5rem;
}

.opinion {
    margin-bottom: 4rem;
}

.latest-news img {
    width: 135px;
    height: 90px;
}

.mag-title {
    border-bottom: 1px solid lightgrey;
    width: 75%;
    float: right;
    margin-bottom: 0.5em;
    text-align: center;
}

.magazine .col-md-3:first-of-type {
    margin-top: 1em;
}

.magazine .card-img-top {
    width: 100%;
    height: 20vh;
    object-fit: cover;
}

.magazine .col-md-3 span {
    padding: 0.3em;
}
.magazine .col-md-3 span:first-of-type {
    background-color: red;
    color: white;
}

.section-title {
    text-align: center;
}

section {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.top-story, .opinion {
    margin-top: 0;
    /* margin-bottom: 0; */
}

.gray {
    color: gray;
    font-size: 1.2rem;
}

.slideshow .section-title span,
.magazine .mag-title span,
.editors-picks .section-title span {
    background-color: red;
    color: white;
    padding: 0.3em;
}

.news-category .category-title {
    color: red;
}

.slideshow .card,
.editors-picks .card,
.magazine .card {
    margin-bottom: 1rem;
}

.magazine img,
.magazine .card-title {
    margin: 1rem 0;
}

.editors-picks .gray,
.slideshow .gray {
    margin-bottom: 2rem;
}

.most-read img {
    width: 60%;
    /* height: 10vw; */
    object-fit: cover;
}

.most-read .media {
    border-top: 1px solid lightgrey;
    padding-top: 1rem;
}

.footer-top {
    font-size: 3rem;
    color: red;
}

.footer-top span {
    font-size: 1rem;
    color: black;
}

.footer-top div:last-of-type {
    text-align: right;
}

.footer-top i {
    margin: 0 1rem;
    font-size: 1.2rem;
    color: black;
}

.footer-bottom {
    font-size: 1rem;
    padding-top: 2rem;
    background-color: lightgrey;
}

.footer-bottom a {
    padding-right: 2rem;
    line-height: 2rem;
}


@media screen and (max-width: 767px) {
    .mag-title {
        border: none;
        width: 100%;
    }

    .mob2 {
        order: 2;
    }

    .mob1 {
        order: 1;
    }

    .mob3 {
        order: 3;
    }

    .footer-top div:last-of-type {
        text-align: left;
    }

}